/* region modifications to modena.css */
.scroll-pane {
    -fx-background-color: transparent;
}
/* apply background-radius to scroll-pane.scroll-bar,
    scroll-pane.viewport, and scroll-pane.corner */
.scroll-pane > * > * {
    -fx-background-radius: 12px;
}

/* remove default scroll bar background */
.scroll-bar {
    -fx-background-color: transparent;
}

/* set scroll bar thumb color and size */
.scroll-bar .thumb {
    -fx-background-insets: 1.5 0 0;
    -fx-background-color: -background-grey;
}

/* region hide scroll bar arrows */
/* explainer here: https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/ */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0px 0px 10px 0px;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow  {
    -fx-shape: "";
    -fx-padding: 0;
}
/* end region hide scroll bar arrows */

/* end region modifications to modena.css*/

/* region color variables */
* {
    -background-grey: #585252;
    -background-white: #FFFFFF;
    -primary-black: #171717;
    -secondary-beige: #FFBD80;
    -error-red: #FF0000;
    -selection-blue: #0029FF;
    -accent-purple: #8000FF;
}
/* end region color variables */

/* region font installation */
@font-face {
    src: url("/type/cydnel.ttf");
}
@font-face {
    src: url("/type/inter-variable.ttf");
}
@font-face {
    src: url("/type/sourcecodepro-variable.ttf");
}
@font-face {
    src: url("/type/sourcecodepro-italic-variable.ttf");
}
/* end region font installation */

/* region typography */
.title-min {
    -fx-font-family: "Cydnel";
    -fx-font-size: 42;
}

.title-max {
    -fx-font-family: "Cydnel";
    -fx-font-size: 128;
}

.subtitle {
    -fx-font-family: "Inter";
    -fx-font-size: 24;
}

.h1 {
    -fx-font-family: "Inter";
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 36;
}

.body {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 25;
}

.label-min {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 12;
}

.label-max {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 16;
}
/* end region typography */