@import "config.css";

.group-creation {
    -fx-padding: 36px;
}

.group-creation__filters {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -border--primary;
    -fx-background-color: -background--primary;
    -fx-padding: 16px;
}

.group-creation__filters .viewport {
    -fx-background-color: transparent;
}

.group-creation__cancel-button {
    -fx-background-color: -background--negative;
    -fx-text-fill: -text--negative;
    -fx-border-style: solid;
    -fx-border-color: -border--primary;
    -fx-border-width: 1px;
}

.group-creation__cancel-button:hover {
    -fx-text-fill: -text--primary;
    -fx-background-color: -background--primary;
    -fx-border-color: -border--primary;
}

.group-creation__create-button {
    -fx-background-color: -background--primary;
    -fx-text-fill: -button--confirm;
    -fx-border-style : solid;
    -fx-border-color: -button--confirm;
    -fx-border-width: 1px;
}

.group-creation__create-button:hover {
    -fx-text-fill: -text--negative;
    -fx-background-color: -button--confirm;
}