@import "config.css";

.item {
    -fx-background-color: -background--primary;
    -fx-border-width: 1px;
    -fx-border-color: -border--primary;
    -fx-border-style: solid;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.item--focused {
    -fx-background-color: -background--accent;
    -fx-border-width: 1px;
    -fx-border-color: -border--secondary;
    -fx-border-style: solid;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.item__heading {
    -fx-background-color: transparent;
    -fx-text-fill: -text--primary;
}

.item__delete-button {
    -fx-background-color: transparent;
    -fx-text-fill: -text--primary;
}

.item__delete-button:hover {
    -fx-text-fill: -foreground--accent;
}

.item__completion-button {
    -fx-background-color: transparent;
}

.item__priority-picker-content {
    -fx-padding: 8px;
}

.item__priority-picker {
    -fx-alignment: center;
    -fx-border-color: -border--primary;
    -fx-background-color: -background--negative;
    -fx-text-fill: -text--negative;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-padding: 0px 0px 0px 8px;
}

.item__priority-picker .list-view .list-cell {
    -fx-text-fill: -text--negative;
    -fx-background-color: -background--negative;
    -fx-padding: 8px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: -border--negative;
}

.item__priority-picker .list-view .list-cell:hover,
.item__priority-picker .list-view .list-cell:focused {
    -fx-text-fill: -text--primary;
    -fx-background-color: -background--primary;
}

.item__priority-picker .list-cell:selected {
    -fx-text-fill: -text--negative;
}

.item__label-container {
    -fx-background-color: transparent;
    -fx-background-radius: 0px 0px 12px 12px;
}

/* prevent horizontal scroll bar from being clipped by scroll-pane viewport */
.item__label-container .scroll-bar {
    -fx-padding: 0px 6px 2px 6px;
}

.item__label-content {
    -fx-background-color: transparent;
    -fx-background-radius: 0px 0px 12px 12px;
    -fx-padding: 8px;
}

.item__label-chip {
    -fx-padding: 0px 8px 0px 16px;
    -fx-background-color: -background--negative;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.item__label-chip__text {
    -fx-text-fill: -text--negative;
}

.item__label-chip__delete-button {
    -fx-text-fill: -text--negative;
    -fx-background-color: transparent;
    -fx-align: center;
}

.item__add-label-chip {
    -fx-background-color: -background--negative;
    -fx-padding: 0px 8px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.item__add-label-chip__button {
    -fx-background-color: transparent;
    -fx-text-fill: -text--negative;
}