@import "config.css";

.login {
    -fx-background-color: -background--primary;
}

.login__title {
    -fx-text-fill: -text--secondary;
}

.username {
    -fx-align: center;
}

.username__label {
    -fx-text-fill: -text--secondary;
}

.password__label {
    -fx-text-fill: -text--secondary;
}

.username__text-field,
.password__text-field {
    -fx-border-style : solid;
    -fx-border-color: -border--secondary;
    -fx-border-width: 0.5px;
    -fx-text-fill: -text--secondary;
    -fx-background-color: -background--primary;
}

.buttons__register {
    -fx-background-color: -background--negative;
    -fx-text-fill: -text--negative;
    -fx-border-style: solid;
    -fx-border-color: -border--primary;
    -fx-border-width: 1px;
}

.buttons__register:hover {
    -fx-text-fill: -text--primary;
    -fx-background-color: -background--primary;
    -fx-border-color: -border--primary;
}

.buttons__login {
    -fx-background-color: -background--primary;
    -fx-text-fill: -button--confirm;
    -fx-border-style : solid;
    -fx-border-color: -button--confirm;
    -fx-border-width: 1px;
}

.buttons__login:hover {
    -fx-text-fill: -text--negative;
    -fx-background-color: -button--confirm;
}