@import "config.css";

.settings {
    -fx-background-color: -primary-black;
    -fx-padding: 16px;
}

.settings__title {
    -fx-text-fill: -primary-black;
}

.settings__label-text {
    -fx-padding: 0px 8px
}