@import "config.css";

.settings {
    -fx-padding: 16px;
}

.settings__title {
    -fx-text-fill: -primary-black;
}

.settings__label-text {
    -fx-padding: 0px 8px
}

.settings__color-picker {
    -fx-max-width: 50px;
}

.settings__label {
    -fx-padding: 2px 8px 2px 16px;
}