@import "config.css";

.sidepane {
    -fx-background-color: -background--primary;
    -fx-padding: 8px;
}

.sidepane__add-group {
    -fx-text-fill: -text--primary;
    -fx-padding: 8px 42px 8px 26px;
    -fx-background-color: -background--primary;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -border--primary;
}

.sidepane__list {
    -fx-padding: 0px 12px 0px 0px;
}

.sidepane__add-group:hover {
    -fx-text-fill: -text--negative;
    -fx-background-color: -background--negative;
}

.sidepane__default-group:hover {
    -fx-text-fill: -text--negative;
    -fx-background-color: -foreground--accent;
}

.sidepane__default-group {
    -fx-background-color: -background--accent;
    -fx-padding: 8px 61px 8px 61px;
    -fx-border-color: -border--primary;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: -foreground--accent;
}

.sidepane__group {
    -fx-background-color: -background--negative;
    -fx-padding: 8px 16px 8px 16px;
    -fx-border-color: -border--negative;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.sidepane__group__text-field {
    -fx-highlight-fill: -text-highlight;
    -fx-highlight-text-fill: -text--negative;
}

.sidepane__group--selected {
    -fx-background-color: -selection--static;
    -fx-padding: 8px 16px 8px 16px;
    -fx-border-color: -border--primary;
    -fx-border-width: 1px;
    -fx-border-style: solid
}

.sidepane__group--selected:hover {
    -fx-background-color: -selection--hover;
}

.sidepane__group--selected > .sidepane__group__label,
.sidepane__group--selected > .sidepane__group__delete-button {
    -fx-text-fill: -text--negative;
}

.sidepane__group__label {
    -fx-background-color: transparent;
    -fx-text-fill: -text--negative;
}

.sidepane__group:hover {
    -fx-background-color: -background--primary;
    -fx-border-color: -border--primary;
}

.sidepane__group:hover > .sidepane__group__label,
.sidepane__group:hover > .sidepane__group__delete-button {
    -fx-text-fill: -text--primary;
}

.sidepane__group__delete-button {
    -fx-background-color: transparent;
    -fx-text-fill: -text--negative;
    -fx-padding: 0; /* remove default button padding */
}